#content{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#sidebar{
    display:flex;
    flex-direction: column;
    gap:20px;
}
#container{
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    width:600px;
    height:600px;
    background-color: lightblue;
    box-shadow: 5px 5px;
}
.square{
    box-sizing:border-box;
    background-color: white;
    border-style: solid;
    border-color: grey;
    color:white;
    border-width:1px;
}
.transformedSquare{
    background-color:black;
}
body{
    background-color: grey;
}